@{
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DEMO XYZ</h2>

@section Scripts{
    <script>
        $(function () {
            alert("HAHAH");
        });
    </script>
}